{{ block title }}
パート2：あなたのグループに関する情報
{{ endblock }}

{{ block content }}

<div class="text-end mb-3">
    <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#modal_content">
        説明
    </button>
</div>

<div class="card bg-light mb-3">
    <div class="card-body">
        <p>
            {{ if group.active }}
            あなたのグループはランダムに<b>アクティブグループ</b>に割り当てられました。
            もう一度説明すると、アクティブグループでは次の役割が割り当てられます：レッドプレイヤー1名、ブループレイヤー2名。
            あなたはランダムに
            {{ if player.taker }}
            <b>レッドプレイヤー</b>。
            {{ else }}
            <b>ブループレイヤー</b>。
            {{ endif }}
            {{ else }}
            あなたのグループはランダムに<b>パッシブグループ</b>に割り当てられました。
            {{ endif }}
        </p>
    </div>
</div>

{{ next_button }}

{{ include "global/InstructionsModal.html" }}

{{ endblock }}

{{ block scripts }}
<script src="{{ static 'global/fill_auto.js' }}"></script>
<script>
    document.addEventListener('DOMContentLoaded', () => {
        if (js_vars.fill_auto)
            fill_auto();
    });
</script>
{{ endblock }}
