<section lang="en">
    <article class="mb-4" data-description="intro">
        <p><b>グループの構成はパート1と同じです。</b></p>
        <p>
            コンピュータプログラムは、この部屋にいるすべてのグループの中からランダムに1つのグループを選びます。
            このグループは<b><i>パッシブ</i></b>グループと呼ばれます。
            残りのグループは<b><i>アクティブ</i></b>グループと呼ばれます。
        </p>
        <p>
            <i>パッシブ</i>グループのメンバーの最終的な個人報酬は、パート1での報酬と、パート2で<i>アクティブ</i>グループのメンバーが行う決定によって決まります。
            <i>パッシブ</i>グループのメンバーはこのパートで意思決定を行わないため、以下の説明は<i>アクティブ</i>グループのメンバー向けです。


            <br>
            全員が説明を読み終えると、あなたが<b><i>パッシブ</i>グループなのか、<i>アクティブ</i>グループなのか</b>が通知されます。

        </p>
    </article>

    <article class="mb-4" data-description="roles">
        <h5>アクティブグループにおける役割と決定</h5>
        <p>
            各<i>アクティブ</i>グループでは、コンピュータプログラムがプレイヤーにランダムに役割を割り当てます。
            グループには<b>レッドプレイヤー1名とブループレイヤー2名</b>がいます。
        </p>
        <p>
            レッドプレイヤーは、<i>パッシブ</i>グループからECUを<b>盗むことで自身の報酬を増やす</b>選択肢を持ちます。
            具体的には、レッドプレイヤーは「盗む」か「盗まない」かの二択を行います。
            
        </p>
        <p>
            <span class="text-decoration-underline">仕組みは次のとおりです：</span> <br>
            レッドプレイヤーがECUを盗むと、レッドプレイヤーは<b>{{ STEALING_AMOUNT }} ECU を獲得</b>し、
            <i>パッシブ</i>グループは<b>{{ STEALING_LOSS }} ECU を失います</b>。
            これは、パッシブグループの各メンバーが {{ STEALING_LOSS_INDIV }} ECU ずつ失うことを意味します（{{ STEALING_LOSS_INDIV }} ECU × {{ PLAYERS_PER_GROUP }} = {{ STEALING_LOSS }} ECU）。
            レッドプレイヤーが盗まない場合、何も変化せず、全員の報酬はパート1のままです。

            
        </p>
        <p>
            盗み行為には<b>{{ STEALING_PENALTY }} ECU の罰則</b>があります。
            ただし、レッドプレイヤーが罰則を受けるのはブループレイヤーの1人に報告された場合のみで、報告されても必ず罰則が適用されるわけではありません。

        </p>
    </article>

    <article class="mb-4" data-description="reporting">
        <h5>報告のルール</h5>
        <p>
            各<i>アクティブ</i>グループのブループレイヤーは、レッドプレイヤーが<i>パッシブ</i>グループからECUを盗んだ場合に報告するかどうかを決めます。
            レッドプレイヤーが盗まなかった場合、報告は行われません。
            報告は匿名で行われ、実験者に送られます。
        </p>
        <p>
            ブループレイヤーがレッドプレイヤーを報告し、レッドプレイヤーがECUを盗んでいた場合、
            ブループレイヤーは<b>{{ REPORTING_COST }} ECU の報告コスト</b>を支払います（パート1の報酬から差し引かれます）。

        </p>
        <ul>
            <li>
                <u>レッドプレイヤーがECUを盗んだ場合：</u> <br>
                <ul>
                    <li>報告したブループレイヤーは<b>{{ REPORTING_COST }} ECU の報告コスト</b>を負担します。</li>
                    <li>報告されたレッドプレイヤーは、{{ AUDIT_PROBABILITY_STR }} の確率で
                    <b>{{ STEALING_PENALTY }} ECU の罰則</b>を受けます（パート1の報酬と盗んだ {{ STEALING_AMOUNT }} ECU から差し引かれます）。
                    {{ NON_AUDIT_PROBABILITY_STR }} の確率で罰則はありません。
                    </li>
                    {{ if subsession.reward }}
                    <li>レッドプレイヤーが罰則を受けた場合、ブループレイヤーは<b>{{ REPORTING_REWARD }} ECU の報酬</b>を受け取ります。
                        
                    </li>
                    {{ endif }}
                </ul>
            </li>
            <li>
                <u>レッドプレイヤーがECUを盗まなかった場合：</u> <br>
                <ul>
                    <li><b>報告は行われません。</b></li>
                    <li><b>レッドプレイヤーに罰則はありません。</b></li>
                </ul>
            </li>
        </ul>
    </article>

    <article class="mb-4" data-description="randomization">
        <h5>報告のランダム適用</h5>
        <p>
            レッドプレイヤーがECUを盗んだ場合、コンピュータは<b>ブループレイヤーの決定のうち1つ</b>をランダムに選びます。

        </p>
        <ul>
            <li>選ばれた決定が「報告する」の場合、ブループレイヤーは報告コストを負担し、レッドプレイヤーは報告されます。</li>


            
            <li>選ばれた決定が「報告しない」の場合、レッドプレイヤーは報告されません。</li>
        </ul>
        <p>
            選ばれなかったブループレイヤーの決定は影響しません。<br>
            レッドプレイヤーが盗まなかった場合、何も起こりません。
        </p>
    </article>

    <hr>
    <div class="card mt-4">
        <div class="card-header">
            <h5>重要ポイントのまとめ</h5>
        </div>
        <div class="card-body">
            <p>
                1つのグループがランダムに<i>パッシブグループ</i>として選ばれます。
                その他のグループは<i>アクティブグループ</i>です。 <br>
                各アクティブグループでは：
            </p>
            <ul>
                <li>1名がレッドプレイヤー、2名がブループレイヤーです。</li>
                <li>
                    レッドプレイヤーはパッシブグループからECUを盗むかどうかを決めます
                    （盗むと {{ STEALING_AMOUNT }} ECU を獲得し、パッシブグループは {{ STEALING_LOSS }} ECU を失います）。

                </li>
                <li>
                    ブループレイヤーは、レッドプレイヤーが盗んだ場合に報告するかどうかを決めます。</li>
                </li>
                <li>レッドプレイヤーが盗んだ場合：
                    <ul>
                        <li>コンピュータがブループレイヤーの決定のうち1つをランダムに選びます。</li>
                        <li>
                            選ばれた決定が「報告する」の場合、ブループレイヤーは {{ REPORTING_COST }} ECU を負担し、
                            レッドプレイヤーは {{ AUDIT_PROBABILITY_STR }} の確率で {{ STEALING_PENALTY }} ECU の罰則を受けます。
                            {{ NON_AUDIT_PROBABILITY_STR }} の確率で罰則はありません。

                            {{ if subsession.reward }}
                            レッドプレイヤーが罰則を受けた場合、ブループレイヤーは {{ REPORTING_REWARD }} ECU を受け取ります。

                            {{ endif }}
                        </li>
                       <li>選ばれた決定が「報告しない」の場合、レッドプレイヤーは報告されません。

                        </li>
                    </ul>
                </li>
                <li>
                    レッドプレイヤーが盗まなかった場合、何も起こりません（報告なし）。
                </li>
            </ul>
        </div>
    </div>
</section>
